# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\java3.lesson_six\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
